{% extends 'layout.html' %}

{% block content %}
    <h1 class="text-3xl font-bold">Lista de Productos</h1>
    <div class="container mx-auto px-4 py-8">
    <di class="flex justify-between items-center mb-6">
        <a href="{% url 'product_create' %}" class="bg-green-700 text-white px-4 py-2 rounded-lg hover:bg-green-900">
            Nuevo Producto
        </a>
    </div>

    <div class="bg-white rounded-lg shadow overflow-hidden">
        <table class="min-w-full">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Gramaje</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tipo</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Descripción</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for producto in products %}
                <tr>
                    <td class="px-6 py-4">{{ producto.nombre }}</td>
                    <td class="px-6 py-4">{{ producto.gramaje }}g</td>
                    <td class="px-6 py-4">{{ producto.tipo }}</td>
                    <td class="px-6 py-4">{{ producto.descripcion|truncatechars:50 }}</td>
                    <td class="px-6 py-4">
                        <a href="{% url 'product_update' producto.id %}" class="text-blue-500 hover:text-blue-700 mr-4">Editar</a>
                        <a href="{% url 'product_delete' producto.id %}" class="text-red-500 hover:text-red-700">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Controles de paginación -->
<div class="text-center my-8">
    <span class="">
        {% if page_obj.has_previous %}
            <a class="p-2 border-none bg-green-600 rounded-xl text-white" href="?page=1">&laquo; primera</a>
            <a class="p-2 border-none bg-green-700 rounded-xl text-white" href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="font-bold text-green-600">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="p-2 border-none bg-green-600 rounded-xl text-white" href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a class="p-2 border-none bg-green-700 rounded-xl text-white" href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}