{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">Lista de Productos</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for producto in productos %}
        <a href="{% url 'detalle_producto' producto.id %}" class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow">
            <!-- Imagen del producto -->
            <div class="h-48 bg-gray-200 flex items-center justify-center">
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="w-full h-full object-cover">
                {% else %}
                    <span class="text-gray-500">Imagen no disponible</span>
                {% endif %}
            </div>

            <!-- Información del producto -->
            <div class="p-4">
                <h2 class="text-xl font-bold mb-2">{{ producto.nombre }}</h2>
                <p class="text-gray-600">{{ producto.descripcion|truncatechars:100 }}</p>
                <div class="mt-4 flex items-center justify-between">
                    <span class="text-blue-500">{{ producto.tipo }}</span>
                    <span class="text-gray-700">{{ producto.gramaje }}g</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}