<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}
    Gestion de Usuarios
  {% endblock %}</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
<!--Aside menu -->
  <div class="flex">
    {% if user.is_authenticated and user.is_staff %}
    <aside class="w-64 h-screen bg-gray-800 text-white p-4 ">
        <ul class="space-y-2">
        <li>
            <a href="{% url 'admin' %}" class="block text-xl font-bold py-2 px-4 rounded ">Panel de Administracion</a>
        </li>
        <li>
          <a href="{% url 'home' %}" class="block py-2 px-4 hover:bg-gray-700 rounded transition duration-300">Inicio</a>
        </li>
        <li>
            <a href="{% url 'product_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded transition duration-300">Agregar Producto</a>
        </li>
        <li>
            <a href="{% url 'user_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded transition duration-300">Usuarios</a>
        </li>
        <li>
            <a href="{% url 'logout' %}" class="block py-2 px-4 bg-red-500 hover:bg-red-600 rounded transition duration-300">Cerrar Sesión</a>
        </li>
        </ul>
    </aside>
    {% endif %}

    <main class="flex-1 bg-gray-300 w ">
    {% block content %}

    {% endblock %}
  </main>
  </div>

</body>
</html>