{% extends 'base.html' %}
{% block title %}
  Web Menu
{% endblock %}
{% block content %}
  <div class="container">
    <!-- Links Container -->
    <div class="wrapper_links">
        <a class="link_container" href="#">
          <h2 class="link_text" >Establecimientos</h2>
          <img class="link_img" src="../../static/image/vecteezy_mouthwatering-images-of-gourmet-dishes_29895510.jpg" alt="img_link"></a>
        <a class="link_container" href="#">
          <h2 class="link_text" >Desarrollo del Menú</h2>
          <img class="link_img" src="../../static/image/vecteezy_mouthwatering-images-of-gourmet-dishes_29895510.jpg" alt="img_link"></a>
        <a class="link_container" href="#">
          <h2 class="link_text" >Descripciones y Opiniones</h2>
          <img class="link_img" src="../../static/image/vecteezy_mouthwatering-images-of-gourmet-dishes_29895510.jpg" alt="img_link"></a>
      </div>

      <!-- Expensive Food -->
      <div class="food expensive">
        <div class="food_text">
          <h3>27$</h3>
          <h3>Titulo</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus ut libero cumque, error deleniti laudantium id! Repudiandae beatae id libero impedit porro nesciunt amet aperiam voluptates molestias cum! Illo?</p>
        </div>
        <img src="../../static/image/vecteezy_photorealistic-professional-food-commercial-photograph_30672792.jpg" alt="">
      </div>

      <!-- Carousel food -->
      <div class="carousel">
      </div>

      <!-- Cheap food -->
      <div class="food cheap">
        <img rc="../../static/image/vecteezy_mouthwatering-images-of-gourmet-dishes_29895510.jpg" alt="">
        <div class="food_text">
          <h3>4$</h3>
          <h3>Titulo</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus ut libero cumque, error deleniti laudantium id! Repudiandae beatae id libero impedit porro nesciunt amet aperiam voluptates molestias cum! Illo?</p>
        </div>
      </div>
  </div>

  <!-- Restaurants menu -->
  <h2 class="text_menus">Ver nuestros Menus</h2>
  <div class="menu_grid">
    <div class="menu_container">
      <div class="menu_img">
        <img src="../../static/image/chris-ralston-09HGdZzkP-Q-unsplash.jpg" alt="">
      </div>
      <div class="menu_footer">
        <h3 class="title_menu">
          Refrescos
        </h3>
        <button class="btn btn_menu">
          Ver mas
        </button>
      </div>
    </div>
    <div class="menu_container">
      <div class="menu_img">
        <img src="../../static/image/chris-ralston-09HGdZzkP-Q-unsplash.jpg" alt="">
      </div>
      <div class="menu_footer">
        <h3 class="title_menu">
          Comida China
        </h3>
        <button class="btn btn_menu">
          Ver mas
        </button>
      </div>
    </div>
    <div class="menu_container">
      <div class="menu_img">
        <img src="../../static/image/chris-ralston-09HGdZzkP-Q-unsplash.jpg" alt="">
      </div>
      <div class="menu_footer">
        <h3 class="title_menu">
          Comida Criolla
        </h3>
        <button class="btn btn_menu">
          Ver mas
        </button>
      </div>
    </div>
    <div class="menu_container">
      <div class="menu_img">
        <img src="../../static/image/chris-ralston-09HGdZzkP-Q-unsplash.jpg" alt="">
      </div>
      <div class="menu_footer">
        <h3 class="title_menu">
          Pizzas
        </h3>
        <button class="btn btn_menu">
          Ver mas
        </button>
      </div>
    </div>
  </div>

{% endblock %}