<!-- login.html -->
{% extends 'base.html' %}

{% block content %}
<div class="max-w-sm text-center mx-auto mt-10 p-6 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-6 tex-green-900 text-center">Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 mb-2">Usuario</label>
            {{ form.username }}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 mb-2">Contraseña</label>
            {{ form.password }}
        </div>
        <button type="submit" class="w-full bg-green-800 text-white py-2 px-4 rounded-lg hover:bg-green-900 transition duration-300">
            Ingresar
        </button>
    </form>
</div>
{% endblock %}